:root {
  --background-color: #fff; /* default light background color */
  --text-color: #333; /* default light text color */
}

.dark {
  --background-color: #333; /* dark background color */
  --text-color: #fff; /* dark text color */
}

